<div class="media-wrapper">
    {{#Video}}
        <video controls>
            <source src="{{Video}}" type="video/webm">
            Your browser does not support the video tag.
        </video>
    {{/Video}}
    {{#Image}}
        <img src='{{Image}}'>
    {{/Image}}
    {{#Audio}}
        [sound:{{Audio}}]
    {{/Audio}}
</div>