<div class="top">
    <div class="question"><span class="note">Pytanie:&nbsp;</span><span>{{Question}}</span></div>
    <div class="answer"><span class="note">Odpowiedź:&nbsp;</span>{{type:Answer}}</div>
</div>